<form (ngSubmit)="login()">
  <label>
    Usuario:
    <input name="usuario" [(ngModel)]="usuario"/>
  </label>
  <label>
    Senha:
    <input name="senha" type="password" [(ngModel)]="senha"/>
  </label>
  <button>Entrar</button>
</form>

{{token}}

<button (click)="listarUfs()">Listar ufs</button>

<table>
  <thead>
    <th>SIGLA</th>
    <th>CODIGO</th>
    <th>NOME</th>
  </thead>
  <tbody>
    <tr *ngFor="let uf of ufs">
      <td>{{uf.sigla}}</td>
      <td>{{uf.codigo}}</td>
      <td>{{uf.nome}}</td>
    </tr>
  </tbody>
</table>
